@page "/"

<h4 class="text-center">Equipo Super Trabajador S!</h4>

<div class="container">
    <div class="row">
        <div class="col justify-content-center">
            <ul class="list-group">
                <li class="list-group-item text-center">
                    <a>David Elías Solano Castro</a>
                </li>
                <li class="list-group-item text-center">
                    <a>Andres Francisco Taveras</a>
                </li>
                <li class="list-group-item text-center">
                    <a>Cristopher Daniel Figueroa Rosario</a>
                </li>
                <li class="list-group-item text-center">
                    <a>Ramphy Nuñez Messon</a>
                </li>
            </ul>
        </div>
    </div>
</div>